<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsByHarsha.jhub">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JHub">
        <activity
            android:name="com.appsByHarsha.jhub.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.CustomisePlacementActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.CreateConfessionActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.ConfessionsActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.LikesActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.CommentActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.CostommisePostActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.OtpfromLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.OtpActivity"
            android:exported="false" />
        <activity
            android:name="com.appsByHarsha.jhub.RegActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appsByHarsha.jhub.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>